
.home {
     position: relative;
     padding: 10px 100px;
     background-image: url("../assets/home-bg.png");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     display: flex;
     min-height: 100vh;
     width: 100vw;
     align-items: Center;
     justify-content: start;
 }
 
 .hero {
     display: flex;
     align-items: start;
     justify-content: center;
     flex-direction: column;
     gap: 30px;
     max-width: 620px;
     width: 100%;
 }
 
 .hero h1 {
     line-height: 1.2;
     font-size: 3.5rem;
 }
 
 .hero button {
     padding: 10px 30px;
     border-radius: 5px;
 }
 
 .hero .hero-btns {
     display: flex;
     gap: 15px;
 }
 
 .get-start {
     background: var(--green-color);
     outline: none;
     border: none;
     color: white;
 }
 
 .view-services {
     border: 1px solid gray;
     background: transparent;
     color: black;
 }