.pricing {
    position: relative;
    padding: 10px 100px;
    background-image: url("../assets/Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    max-height: 700px;
    padding-top: 100px;
    color: white;
    flex-direction: column;
    gap: 40px;
    width: 100vw !important;
    align-items: Center;
    justify-content: start;
    overflow: visible;
}

.toggle-package {
    background: rgb(255, 255, 255, 0.9);
    padding: 5px 10px;
    border-radius: 30px;
    display: flex;
    gap: 20px;
    width: 250px;
}

.toggle-package button {
    outline: none;
    border: none;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    color: black;
    padding: 10px 30px;
}

.pricing .active {
    background: green;
    color: white;
}

.head {
    text-align: center;
}

.pricing-plans {
    display: flex;
    gap: 20px;
}

.pricing-plans ul {}

.pricing-plans ul li {
    padding: 10px 0;
    list-style: disc;
    color: var(--gray-color);
}

.price-box {
    background: var(--green-color);
    max-width: 400px;
    padding: 15px 40px;
    color: white;
    border-radius: 10px;
}

.pricing-plans>div {
    background: white;
    color: black;
    width: 330px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    z-index: 4;
    flex-direction: column;
    gap: 30px;
    transform: translateY(0);
    align-items: center;
}

.pricing-plans>div button {
    background: white;
    color: black;
    border-radius: 5px;
    padding: 15px 70px;
    border: 1px solid var(--gray-color);
}

.enterprise-package .green-btn {
    background: var(--green-color);
    color: white;
    outline: none;
    border: none;
}

.pricing-plans>div button {
    background: white;
    color: black;
    border-radius: 5px;
    padding: 15px 70px;
    border: 1px solid var(--gray-color);
    transition: all 0.3s ease;
}

.pricing-plans>div button:hover {
    border-color: var(--green-color);
    color: var(--green-color);
}

.pricing-plans>div button:hover i,
.pricing-plans>div button:hover svg {
    color: var(--green-color);
    fill: var(--green-color);
}


/* Middle plan exception */

.enterprise-package .green-btn {
    background: var(--green-color);
    color: white;
    border: 1px solid var(--green-color);
}

.enterprise-package .green-btn:hover {
    background: var(--green-color);
    color: white;
    border-color: var(--green-color);
}

.enterprise-package .green-btn:hover i,
.enterprise-package .green-btn:hover svg {
    color: white;
    fill: white;
}